.error{
    font-size: 9px;
    color: red;
    position: absolute;
    right: 0;
    top: 22px;
}

.icon_view_mdp{
    position: absolute;
    right: 0;
    top: 12px;
}

.create_account{
    font-size: 9px;
    text-align: right;
    margin-right: 5px;
}

.create_compte_button{
    color: rgb(8, 164, 226);
}